@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* 
{
    margin: 0%;
    padding: 0%;
    border: 30px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html, body
{
    margin: 0;
    height: 100%;
    width: 100%;
}

body 
{
    background-color: rgb(255, 166, 1);
    color: rgb(0, 0, 255);
    font-weight: 250;
    min-height: 100vh;

    background-image: url("imagem/itau.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

fieldset 
{ 
    background-color: #fdcca0;
    border: 2px solid blue;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

legend 
{
    background-color: #f4673b;
    border: solid 2px;
    padding: 10px;  
    border-radius: 8px;  
}

legend h2
{
    color: white;
}


h1 
{
    color: blue;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

label 
{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    margin-top: 8px; 
    flex-direction: column;     
}

input 
{
    height: 25px;
    border-radius: 3px;    
}

.form
{
    display: grid;
    justify-content: center;
}

form input
{
    background: white;
    outline: none;
    border: 1px solid blue;
    border-radius: 5px;
}

.botoes
{
    margin-top: 20px;
}

form input[type="button"]
{
    margin-right: 20px;
}

form input[type="button"], form input[type="submit"]
{
    cursor: pointer;  
    height: 40px; 
    width: 5rem; 
    border-radius: none;
    background: white;
    font-size: 1.1rem;
    padding: 10px;
}

form input[type="button"]:hover, form input[type="submit"]:hover
{
    background-color: #f4673b;
    color: white;
}

select 
{
    border-radius: 3px;
    border-color: blue;   
} 

form input, select
{
    height: 25px;
    padding: 0 .05rem;
    margin-top: 0.5rem;
}